html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: linear-gradient(#52c234, #061700);
    /* min-height:100%;  */
}

  

.container {
    max-width: 800px;
    margin: 0 auto;
    height: auto;
    padding: auto;
    /* background: #fff;  */
    /* box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); */
   
}


p{
    margin: 0%;
    color: rgb(0, 0, 0);
    font-size: 160%;
}


h1, h2, h3 {
    /* color: linear-gradient(to right   , rgba(30,76,82), rgba(45, 173, 182, 0)); */

}

/* Table styling */
table {
    text-transform: capitalize;
    width: 60%;
    border-collapse: collapse;
    margin-top: 20px;

    
}

th, td {
    border: 1px solid;
    padding: 5px;
    text-align: left;
    font-size: 15px;
    color: #000000; /*Text color*/  
}

th {
    /* background-color: #00796b;  */
    /* Dark teal header background */
    color: #030303;
}

/* Chart container styling */
#chartContainer {
    margin-top: 40px;
    padding: 20px;
    /* background: #fff; */
    /* box-shadow: 0 0 10px rgba(39, 121, 153, 0.1); */
    width:700px;
    height: 350px;;
}
#forecastContainer {
    height: 50px;
    margin: 20px;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#chart2Container {
    margin-top: 40px;
    padding: 20px;
    /* background: #fff; */
    /* box-shadow: 0 0 10px rgba(39, 121, 153, 0.1); */
    width:700px;
    height: 350px;;
}